.card__link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  background-color: #fff;
  border-radius: 16px;
  padding: 0 0 24px 0;
  transition: all .4s linear;
  position: relative;
  width: 100%;
}

.card__link-container:hover {
  box-shadow: 0 0 58px rgba(8, 29, 45, 0.1);
}

@media (max-width : 1374px) {
  .card__link-container {
    padding: 0 0 14px 0;
  }
}